html {
    background: #ffffff;
    font-family: Lucida, sans-serif;
}

.wrapper {
    width: 1600px;
    margin: 0 auto;
    padding: 0;
    background: #0e334f;

}

.header{
	height: 70px;
	width: 100%;
	background-color: #008ed4;
	box-sizing: border-box;
	display: inline-block;
}

.box_1{
	background-color: #008ed4;
	float: left;
	margin-left: 180px;
}

.logo{
	background-color: #ffffff;
	text-align: center;
	padding: 30px 15px 38px 15px;
}

.box_1 img{
	vertical-align: middle;
}

.box_1 a{
	color: #ffffff;
	text-decoration: none;
	padding-left: 10px;
	text-align: center;
	font-weight: 500;
}

.box_3{
	height: 70px;
	width: 120px;
	background: #00a4e6;
	float: right;
	margin-right: 190px;
}

.box_3 a{
	 display: block; /* Ссылка как блочный элемент */
     height: 100%; /* Высота на весь слой */
     text-decoration: none;
     color: #ffffff;
     font-weight: 500;
     text-align: center;
     padding-top: 20px;
}

.box_2{
	height: 70px;
	width: 230px;
	background-color: #00b4ec;
	float: right;
}

.box_2 a{
	 display: block; /* Ссылка как блочный элемент */
     height: 100%; /* Высота на весь слой */
     text-decoration: none;
     color: #ffffff;
     font-weight: 500;
     text-align: center;
     padding-top: 20px;
}

.box_2 img{
vertical-align: middle;
}

.box_3 img{
vertical-align: middle;
}

.nikko{
	float: left;
	padding-left: 180px;
	font-weight: 600;
	color: #1981c3;
	font-size: 48px;
	padding-top: 25px;
}

.selection{
	float: right;
	height: 120px;
	width: 600px;
	box-sizing: border-box;
	display: inline-block;
	padding-right: 190px;
	padding-top: 25px;
	
}
 
.selection_1 a{
	float: right;
	color: #66aedf;
}

.selection_2 a{
	float: right;
	color: #66aedf;	
}

.selection_3 a{
	float: right;
	color: #66aedf;
	padding-right: 10px;
}

.selection a{
	display: inline-block;
	min-width: 100px;
	text-align: center;
	height: 45px;
	line-height: 40px;
	border-radius: 5px;
	background: #ffffff;
	margin: 10px;
}

.selection a:hover{
	background: #205ea9;
	color:#fff;
	text-decoration: none;
}

.bunner img{
	border-radius: 10px;
	padding-left: 180px;
	padding-right: 190px;
	height: 400px;
	width: 960px;
}

img.main_image{
	float: right;
	padding-left: 10px;
	padding-bottom: 10px;
}

.section{
	padding-top: 30px;
}

.section_left{
	float: left;
	width: 33%;
	margin-left: 180px;
	border: 3px solid #44c0ef;
	color: #2697d8;
	border-radius: 15px;
	padding: 15px;
	line-height: 1.5;
}

.section_right{
	float: right;
	width: 33%;
	margin-right: 190px;
	border: 3px solid #44c0ef;
	color: #2697d8;
	border-radius: 15px;
	padding: 15px;
	 line-height: 1;
}
.section a{
	display: inline-block;
	min-width: 100px;
	text-align: center;
	height: 45px;
	line-height: 40px;
	border-radius: 5px;
	margin: 10px;
	background: #00a3e5;
	color:#fff;
	text-decoration: none;
	padding: 5px 10px 5px 10px;
	font-weight: 600;
	font-family: Arial,
}

.line img{
	padding-left: 180px;
	padding-right: 190px;
	padding-top: 20px;
	width: 72%;
}

.list{
	padding-left: 180px;
	float: left;

}

.list div{
	box-sizing: border-box;
	display: inline-block;
	margin-top: 20px;
}

 li {
    list-style-type: none; 
    font-size: 90%;
}

ul {
    margin-left: 0; /* Отступ слева в браузере IE и Opera */
    padding-left: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */
 }
 .content a{
 	margin-left: 10px;
 	color: #1981c3;
 	text-decoration: none;
 	border-bottom: 2px solid #64c7f0;
 }

 .content li a{
	 margin-left: 10px;
	 color: #62b4d6;
	 text-decoration: none;
	 line-height: 2;
}

.content_last a{
 	margin-left: 10px;
 	color: #1981c3;
 	text-decoration: none;
 	border-bottom: 2px solid #64c7f0;
 }

.network{
	float: right;
	margin-right: 190px;
	width: 25%;
	line-height: 1.5;

}
.social_networks a{
	box-sizing: border-box;
	display: inline-block;
	padding-left: 15px;
	vertical-align: middle;

}
.social_networks :before{
	 display: inline-block;
	  background: url('../images/sprite.png') no-repeat;
	  overflow: hidden; 
	  text-indent: -9999px;
	  content: '';
}

.icon_1:before { background-position: -0px -0px; width: 36px; height: 36px; }
.icon_2:before { background-position: -0px -36px; width: 36px; height: 35px; }
.icon_3:before { background-position: -0px -71px; width: 36px; height: 35px; }

.icon_1:hover:before { background-position: -36px -0px; width: 36px; height: 36px; }
.icon_2:hover:before { background-position: -36px -36px; width: 36px; height: 35px; }
.icon_3:hover:before { background-position: -36px -71px; width: 36px; height: 35px; }

.social_networks p{
	color: #2697d8;
	vertical-align: middle;
}

.phone a{
	color: #2697d8;
	padding-left: 15px;
	text-decoration: none;
}

.mail a{
	color: #2697d8;
	padding-left: 15px;
}

.phone img{
vertical-align: middle;
}
.mail img{
vertical-align: middle;
}

.footer{
		margin-top: 40px;
		margin-bottom: 10px;
	   border-top: 2px solid #e3e3e3;
	   padding: 10px;
	   color: #555555;
	   font-size: 80%;
}

.footer_left{
	float: left;
	padding-left: 180px;
	
}

.footer_left span{
	font-size: 120%;
	vertical-align: top;
}

.footer_right{
	float: right;
	padding-right: 190px;
}

.footer_right a{
	text-decoration: none;
	color: #555555;
	padding-right: 10px;
}

.footer_right img{
	vertical-align: middle;
}

.clear { 
    clear: both; 
}

